* { -webkit-hyphens: none; }
div {
	
}
.copy {
	font-size: 18px;
	@media screen and (min-width: $tabwidth) {
		font-size: 22px;
	}
	>*:first-child {
		margin-top: 0;
		padding-top: 0;
	}
	>*:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	p {
		margin-bottom: 2.5em;
	}
	ul, ol {
		margin-left: 0;
		li {
			a {
				text-decoration: none;
				color: $color-blue;
			}
		}
	}
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
		padding: 0px;
	}
}
header#masthead {
	width: 100%;
	position: relative;
	padding: 25px 0;
	background: {
		image: url(images/header.jpg);
		repeat: repeat;
	}
	.bluehead {
		background: {
			// color: rgba($color-blue,1);
			// color: rgba($color-blue,.8);
			// blend-mode: multiply;
			image: url(images/header-blue.jpg);
			repeat: repeat;
		}

		padding: 20px 0;
		@media screen and (min-width: $tabwidth) {
			overflow: hidden;
		}
	}
	.flex-center {
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
}
#colophon {
	background-color: $color-grey;
	>.wrapper {
		padding: 0;
		>.wrapper {
			padding: 20px;
			@media screen and (min-width: $tabwidth) {
				padding: 4% 20px;
			}
			>.row-1 {
				text-align: center;
				a {
					display: inline-block;
					color: white;
					margin: 0 10px;
					font-size: 35px;
				}
			}
			>.row-2 {
				margin: 20px 0 0 0;
				@media screen and (min-width: $tabwidth) {
					margin: 2% 0 0 0;
					@include flexbox();
					@include flexbox-justify(space-between);
					@include flexbox-align-items(flex-start);
					@include flexbox-align-content(stretch);
				}
				>.col-1 {
					text-align: center;
					@media screen and (min-width: $tabwidth) {
						text-align: left;
					}
					nav.footer {
						ul {
							margin: 0;
							padding: 0;
							li {
								list-style-type: none;
								line-height: 1.2;
								a {
									color: white;
									text-decoration: none;
									text-transform: uppercase;
									font-size: 20px;
									font-family: "Unica One", cursive;
									line-height: 1.2;
								}
							}
						}
					}
				}
				>.col-2 {
					text-align: center;
					margin: 20px 0 0 0;
					@media screen and (min-width: $tabwidth) {
						text-align: right;
						margin: 0;
					}
					.associate-button {
						text-align: center;
						display: inline-block;
						a {
							border: 1px solid white;
							display: block;
							padding: 5px 20px;
							color: white;
							text-decoration: none;
							text-transform: uppercase;
							font-size: 20px;
							font-family: "Unica One", cursive;
						}
					}
					.copyright {
						margin: 20px 0 0 0;
						color: white;
						font-size: 12px;

					}
					nav.sitemapbw {
						margin: 5px 0 0 0;
						ul {
							margin: 0;
							padding: 0;
							li {
								list-style-type: none;
								display: inline-block;
								&:last-child {
									a {
										&:after {
											display: none;
										}
									}
								}
								a {
									color: white;
									font-size: 12px;
									text-decoration: none;
									&:after {
										content: "|";
										display: inline-block;
										margin: 0 2px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 280px;
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: 320px;
	}
}
.logo a, h1.logo a {

	display: block;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
	
	}
}
.gold-button {
	width: auto;
	display: inline-block;
	
	a {
		background-color: $color-gold;
		color: #fff;
		display: block;
		@include transition(all ease .3s);
	}
}
footer.site-footer {
	width: 100%;
	clear: both;
}
.clear-bottom {
	&:after {
		clear: both;
		content:"";
		display: block;
	}
}
.portrait-wrapper {
	.portrait {
		width: 100%;
		margin: 0 0 30px 0;
		@media screen and (min-width: $midwidth){
			width: 1/5*100%;
			padding: 0 2% 4% 2%;
			margin: 0;
		}
		/*&.first {
			@media screen and (min-width: $midwidth){
				padding-left: 0;
			}
		}
		&.last {
			@media screen and (min-width: $midwidth){
				padding-right: 0;
			}
		}*/
		&:nth-child(even) {
			@media screen and (min-width: $tabwidth) and (max-width: $midwidth - 1px){
				padding: 0 0 4% 2%;
				width: 1/2*100%;
				margin: 0;
			}
		}
		&:nth-child(odd) {
			@media screen and (min-width: $tabwidth) and (max-width: $midwidth - 1px){
				padding: 0 2% 4% 0;
				width: 1/2*100%;
				margin: 0;
			}
		}
		a {
			display: block;
			text-decoration: none;
			color: inherit;
			position: relative;
			img {
				width: 100%;
				display: block;
			}
		}
	}
}

.single-portrait-wrapper {
	.portrait {
		width: 100%;
		margin: 0 0 30px 0;
		&:nth-child(even) {
			@media screen and (min-width: $tabwidth){
				float: left;
				margin: 0 0 10% 5%;
				width: 1/2*90%;
			}
		}
		&:nth-child(odd) {
			@media screen and (min-width: $tabwidth){
				float: left;
				margin: 0 5% 10% 0;
				width: 1/2*90%;
			}
		}
		img {
			width: 100%;
			cursor: pointer;
			display: block;
		}
	}
}

.cat-menu {
	text-align: left;
	>ul {
		margin: 0;
		padding: 0;
		>li {
			list-style-type: none;
			cursor: pointer;
			padding: 10px 0;
			&.active {
				ul.sub-menu {
					display: block;
				}
			}
			>div.top {
				color: $color-blue;
				font-size: 25px;
				text-transform: uppercase;
				@media screen and (min-width: $midwidth){
					font-size: 28px;
				}
			}
			ul.sub-menu {
				display: none;
				margin: 0 0 0 20px;
				padding: 0;
				li {
					list-style-type: none;
					a {
						text-transform: uppercase;
						text-decoration: none;
						color: $color-blue;
						font-size: 18px;
						text-decoration: none;
						@media screen and (min-width: $midwidth){
								font-size: 22px;
						}
					}
				}
			}	
		}
	}
}
#colorbox.team-popup {
  .team-popup {
    background-color: white;
    >.row-1 {
      width: 95%;
      margin: 0 auto;
      padding: 50px 0 5% 0;
      @media screen and (min-width: $tabwidth) {
        width: 90%;
        padding: 5% 0;
      }
      >.column-1 {
        width: 100%;
        @media screen and (min-width: $tabwidth) {
          width: 30%;
          float: left;
        }

      }
      >.column-2 {
        width: 100%;
        @media screen and (min-width: $tabwidth) {
          width: 65%;
          margin: 0 0 0 5%;
          float: left;
        }
        >.row-1 {
          >.row-1 {
            h1 {
              margin: 0;
			  font-family: "Unica One", cursive;
			  text-transform: uppercase;
			  font-size: 22px;
            }
            .p-title {
              font-family: "Unica One", cursive;
			  text-transform: uppercase;
              font-size: 18px;
            }
          }
          >.row-2 {
			text-align: center;
            .phone {
              a {
                color: $color-blue;
                text-decoration: none;
                font-size: 18px;
                line-height: 1;
                &:hover {
                  color: $color-blue;
                }
              }
            }
            .email {
              margin: 0 0 0 10px;
              a {
                color: $color-blue;
                text-decoration: none;
                &:hover {
                  color: $color-blue;
                }
              }
            }
          }
        }
        >.row-2 {
          .copy {
			text-align: left;
            margin-top: 18px;
          }
        }
      }
    }
  }
}
@media print {
	#masthead {
		display: none;
	}
	#colophon {
		display: none;
	}
}
#content {
	#mc_embed_signup {
		background-color: transparent;
		#mc-embedded-subscribe-form {
			padding-left: 20px;
			padding-right: 20px;
			input {
				color: $color-blue;
				border: none;
				border-radius: 0;
				padding: 10px;
				height: auto;
				&:-moz-placeholder {
					color: $color-blue;

				}
				&::-moz-placeholder {
					color: $color-blue;

				}
				&:-ms-input-placeholder{
					color: $color-blue;

				}
				&::-webkit-input-placeholder {
					color: $color-blue;
				}
				&#mc-embedded-subscribe {
					background-color: white;
					text-decoration: none;
					text-transform: uppercase;
					text-shadow: none;
					box-shadow: none;
					font-size: 22px;
					padding: 5px 10px;
				}
			}
		}
	}
}