* { -webkit-hyphens: none; }
div {
	
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
		padding: 0px;
	}
}
header#masthead {
	width: 100%;
	position: relative;
	float: left;
	padding: 25px 0;
	background: {
		image: url(images/header.jpg);
		repeat: repeat;
	}
	.bluehead {
		background: {
			// color: rgba($color-blue,1);
			// color: rgba($color-blue,.8);
			// blend-mode: multiply;
			image: url(images/header-blue.jpg);
			repeat: repeat;
		}

		padding: 20px 0;
		@media screen and (min-width: $tabwidth) {
			overflow: hidden;
		}
	}
	.flex-center {
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 280px;
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: 320px;
	}
}
.logo a, h1.logo a {

	display: block;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
	
	}
}
.gold-button {
	width: auto;
	display: inline-block;
	
	a {
		background-color: $color-gold;
		color: #fff;
		display: block;
		@include transition(all ease .3s);
	}
}
footer.site-footer {
	width: 100%;
	clear: both;
}