* { -webkit-hyphens: none; }
div {
	
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
		padding: 0px;
	}
}
header#masthead {
	width: 100%;
	position: relative;
	padding: 25px 0;
	background: {
		image: url(images/header.jpg);
		repeat: repeat;
	}
	.bluehead {
		background: {
			// color: rgba($color-blue,1);
			// color: rgba($color-blue,.8);
			// blend-mode: multiply;
			image: url(images/header-blue.jpg);
			repeat: repeat;
		}

		padding: 20px 0;
		@media screen and (min-width: $tabwidth) {
			overflow: hidden;
		}
	}
	.flex-center {
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 280px;
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: 320px;
	}
}
.logo a, h1.logo a {

	display: block;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
	
	}
}
.gold-button {
	width: auto;
	display: inline-block;
	
	a {
		background-color: $color-gold;
		color: #fff;
		display: block;
		@include transition(all ease .3s);
	}
}
footer.site-footer {
	width: 100%;
	clear: both;
}
.clear-bottom {
	&:after {
		clear: both;
		content:"";
		display: block;
	}
}
.portrait-wrapper {
	.portrait {
		width: 100%;
		margin: 0 0 30px 0;
		@media screen and (min-width: $midwidth){
			width: 1/5*100%;
			padding: 0 2% 4% 2%;
			margin: 0;
		}
		/*&.first {
			@media screen and (min-width: $midwidth){
				padding-left: 0;
			}
		}
		&.last {
			@media screen and (min-width: $midwidth){
				padding-right: 0;
			}
		}*/
		&:nth-child(even) {
			@media screen and (min-width: $tabwidth) and (max-width: $midwidth - 1px){
				padding: 0 0 4% 2%;
				width: 1/2*100%;
				margin: 0;
			}
		}
		&:nth-child(odd) {
			@media screen and (min-width: $tabwidth) and (max-width: $midwidth - 1px){
				padding: 0 2% 4% 0;
				width: 1/2*100%;
				margin: 0;
			}
		}
		a {
			display: block;
			text-decoration: none;
			color: inherit;
			position: relative;
			img {
				width: 100%;
				display: block;
			}
		}
	}
}

.single-portrait-wrapper {
	.portrait {
		width: 100%;
		margin: 0 0 30px 0;
		&:nth-child(even) {
			@media screen and (min-width: $tabwidth){
				float: left;
				margin: 0 0 10% 5%;
				width: 1/2*90%;
			}
		}
		&:nth-child(odd) {
			@media screen and (min-width: $tabwidth){
				float: left;
				margin: 0 5% 10% 0;
				width: 1/2*90%;
			}
		}
		img {
			width: 100%;
			cursor: pointer;
			display: block;
		}
	}
}

.cat-menu {
	text-align: left;
	>ul {
		margin: 0;
		padding: 0;
		>li {
			list-style-type: none;
			cursor: pointer;
			padding: 10px 0;
			&.active {
				ul.sub-menu {
					display: block;
				}
			}
			>div.top {
				color: $color-blue;
				font-size: 25px;
				text-transform: uppercase;
				@media screen and (min-width: $midwidth){
					font-size: 28px;
				}
			}
			ul.sub-menu {
				display: none;
				margin: 0 0 0 20px;
				padding: 0;
				li {
					list-style-type: none;
					line-height: 1;
					a {
						line-height: 1;
						text-transform: uppercase;
						text-decoration: none;
						color: $color-blue;
						font-size: 18px;
						text-decoration: none;
						@media screen and (min-width: $midwidth){
								font-size: 22px;
						}
					}
				}
			}	
		}
	}
}