.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
h2.section-title {
	text-align: center;
	text-transform: uppercase;
	width: 90%;
	margin: 20px auto 60px auto;
	line-height: 1;
	font: {
		family: $font-heading;
		size: 30px;
	}
	color: $color-blue;
	@media screen and (min-width: $tabwidth) {
		font-size: 30px;
	}
	@media screen and (min-width: $deskwidth) {
		font-size: 40px;
		width: 30%;
	}
}
.hero {
	background-color: $color-light-grey;
	text-align: center;
	padding: 0 0 40px 0;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	
	.hero-banner {
		width: 100%;
		margin: 0 0 30px 0;
		a {
			display: block;
			img {
				width: 1/5*100%;
				float: left;
				display: block;
			}
		}
	}
}
section.how-it-works {
	width: 100%;
	padding: 40px 0 100px 0;
	overflow: hidden;
	.steps {
		margin: 0 auto 60px auto;
		position: relative;
		@media screen and (min-width: $tabwidth) {
			display: flex;
			justify-content: space-around;
			flex-direction: row;
		}
		.step {
			text-align: left;
			@media screen and (min-width: $tabwidth) {
				text-align: center;
				width: 15%;
			}
			.circle-wrap {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				border: 1px solid $color-blue;
				background-color: #fff;
				display: inline-block;
				margin: 0 0 20px 0;
				.circle {
					width: 50px;
					height: 50px;
					margin: 4px auto;
					text-align: center;
					line-height: 50px;
					border-radius: 50%;
					background-color: $color-blue;
					color: #fff;
					font-size: 24px;
				}
			}
			.sdesc {
				display: inline-block;
				margin: 0 0 0 20px;
				@media screen and (min-width: $tabwidth) {
					display: block;
					margin: 0;
				}
			}
		}
		.stepline {
			display: none;
			@media screen and (min-width: $tabwidth) {
				top: 30px;
				display: block;
				left: 12.5%;
				position: absolute;
				width: 75%;
				z-index: -1;
				border-bottom:1px solid #999;
			}
		}
	}
	.separator {
		width: 100%;
		clear: both;
	}
}
section.p-types {
	background-color: $color-light-grey;
	text-align: center;
	padding: 0 0 40px 0;

}
section.portrait-types {
	background-color: $color-light-grey;
	padding: 40px 0 100px 0;
}
section.testimonials {
	padding: 40px 0 100px 0;
	.group {
		@media screen and (min-width: $deskwidth) {
			@include flexbox();
			@include flexbox-justify(space-between);
			@include flexbox-align-content(stretch);
			@include flexbox-align-items(flex-start);
		}
		.testimonial {
			margin: 40px 0 0 0;
			@media screen and (min-width: $deskwidth) {
				margin: 0;
				padding: 0 20px;
				width: 29%;
			}
			.copy {
				text-align: center;
				color: $color-blue;
				font-size: 20px;
			}
			.author {
				margin: 30px 0 0 0;
				font-weight: 700;
				color: black;
				font-size: 20px;
			}
		}
	}
}
section.mailing{
	background-color: $color-blue;
	padding: 40px 0;
	h2, p {
		color: white;
	}
}
.home-portrait-wrapper {
	.home.portrait {
		width: 100%;
		margin: 0 0 30px 0;
		@media screen and (min-width: $midwidth){
			width: 1/5*84%;
			margin: 0 2% 4% 2%;
			float: left;
		}
		&.first {
			@media screen and (min-width: $midwidth){
				margin-left: 0;
			}
		}
		&.last {
			@media screen and (min-width: $midwidth){
				margin-right: 0;
			}
		}
		&:nth-child(even) {
			@media screen and (min-width: $tabwidth) and (max-width: $midwidth - 1px){
				float: left;
				margin: 0 0 4% 2%;
				width: 1/2*96%;
			}
		}
		&:nth-child(odd) {
			@media screen and (min-width: $tabwidth) and (max-width: $midwidth - 1px){
				float: left;
				margin: 0 2% 4% 0;
				width: 1/2*96%;
			}
		}
		a {
			display: block;
			text-decoration: none;
			color: inherit;
			position: relative;
			img {
				width: 100%;
				display: block;
			}
			.title-box {
				position: absolute;
				bottom: 20px;
				left: 0;
				width: 100%;
				padding: 0 5px;
				text-align: center;
				header {
					padding: 8px 15px;
					background-color: rgba(0,0,0,0.2);
					text-transform: uppercase;
					display: inline-block;
					border: 1px solid white;
					h2 {
						margin: 0;
						color: white;
						font-size: 16px;
						@media screen and (min-width: $midwidth){
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}
.template-portfolio, .template-single-portfolio {
	>.wrapper {
		padding: 30px 20px 40px 20px;
		@media screen and (min-width: $deskwidth){
			padding: 2% 0 6% 0;
		}
		>.row-1, >.row-2 {
			a {
				color: inherit;
				text-decoration: none;
				font-size: inherit;
				text-transform: uppercase;
				display: inline-block;
			}
		}
		>.row-1 {
			text-align: center;
			color: $color-blue;
			font-size: 32px;
			margin: 0 0 30px 0;
			@media screen and (min-width: $deskwidth){
				margin: 0 0 2% 0;
			}
			a {
				padding: 10px 20px;
				&.active {
					background-color: $color-blue;
					color: white;
				}
			}
		}
		>.row-2 {
			text-align: center;
			color: $color-blue;
			font-size: 22px;
			margin: 0 0 40px 0;
			@media screen and (min-width: $deskwidth){
				margin: 0 0 4% 0;
			}
			a {
				padding: 10px;
			}
		}
	}
}
.template-single-portfolio {
	>.wrapper {
		>.row-3 {
			>.col-1 {
				@media screen and (min-width: $midwidth){
					width: 25%;
					float: left;
					min-height: 1px;
					padding: 0 5% 0 0;
				}
			}
			>.col-2 {
				text-align: center;
				margin: 40px 0 0 0;
				@media screen and (min-width: $midwidth){
					width: 50%;
					float: left;
					margin: 0;
				}
				.flexslider {
					ul {
						li {
							img {
								margin: 0 auto;
								display: block;
								cursor: pointer;
							}
							.description {
								display: inline-block;
								padding: 10px 20px;
								width: 90%;
								max-width: 250px;
								background-color: $color-light-grey;
								margin: 30px 0 0 0;
								.medium {

								}
								.size {
									margin: 10px 0 0 0;
								}
							}
						}
					}
				}
			}
			>.col-3 {
				margin: 40px 0 0 0;
				@media screen and (min-width: $midwidth){
					width: 25%;
					float: left;
					min-height: 1px;
					margin: 0;
					padding: 0 0 0 5%;
				}
			}
		}
	}
}

.template-portfolio {
	>.wrapper {
		>.row-3 {
			>.col-1 {
				@media screen and (min-width: $midwidth){
					width: 25%;
					float: left;
					min-height: 1px;
					padding: 0 5% 0 0;
				}
			}
			>.col-2 {
				text-align: center;
				margin: 40px 0 0 0;
				@media screen and (min-width: $midwidth){
					width: 75%;
					float: left;
					margin: 0;
				}
			}
		}
	}
}
.template-about {
	>.row-1 {
		background-color: $color-light-grey;
		>.wrapper {
			padding: 30px 20px 20px 20px;
			@media screen and (min-width: $tabwidth){
				padding: 60px 20px 70px 20px;
			}
			header {
				margin: 0 0 30px 0;
				@media screen and (min-width: $tabwidth){
					margin: 0 0 40px 0;
				}
				h1 {
					margin: 0;
					color: $color-blue;
					font-family: "Unica One", cursive;
					text-transform: uppercase;
					font-size: 35px;
					font-weight: 500;
					@media screen and (min-width: $tabwidth){
						font-size: 45px;
					}
				}
			}
			.copy {
				text-align: left;

			}
		}
	}
	>.row-2 {
		position: relative;
		&:after {
			@media screen and (min-width: $tabwidth){
				clear: both;
				content: "";
				display: block;
				background-color: $color-blue;
				width: 50%;
				position: absolute;
				top: 0;
				height: 100%;
				left: 50%;
				z-index: -1;
			}
		}
		>.wrapper {
			padding: 0;
			@media screen and (min-width: $tabwidth){
				padding: 60px 20px;
				@include flexbox();
				@include flexbox-justify(center);
				@include flexbox-align-items(center);
				@include flexbox-align-content(stretch);
			}
			>.col-1 {
				padding: 20px;
				text-align: left;
				@media screen and (min-width: $tabwidth){
					float: left;
					width: 50%;
					padding: 0 5% 0 calc(5% - 20px);
				}
				ul {
					margin-left: 0;
					padding-left: 20px;
				}
			}
			>.col-2 {
				background-color: $color-blue;
				padding: 20px;
				color: white;
				text-align: center;
				position: relative;
				@media screen and (min-width: $tabwidth){
					float: left;
					background-color: transparent;
					width: 50%;
					padding: 0 calc(6% - 20px) 0 6%;
				}
				@media screen and (min-width: $deskwidth){
					padding: 0 0 0 6%;
				}
				img.left {
					position: absolute;
					top: 10px;
					left: 10px;
					@media screen and (min-width: $tabwidth){
						top: 0;
						left: 10%;
					}
					@media screen and (min-width: $deskwidth){
						top: -4%;
						left: 10%;
					}
				}
				img.right {
					position: absolute;
					bottom: 10px;
					right: 10px;
					@media screen and (min-width: $tabwidth){
						bottom: 0;
						right: 5%;
					}
					@media screen and (min-width: $deskwidth){
						bottom: -4%;
						right: -2%;
					}
				}
				p {
					margin: 1em;
				}
			}
		}
	}
	>.row-3 {
		background-color: $color-light-grey;
		>.wrapper {
			padding: 30px 20px 20px 20px;
			@media screen and (min-width: $tabwidth){
				padding: 5% 20px 2% 20px;
			}
			>header {
				margin: 0 0 30px 0;
				@media screen and (min-width: $tabwidth){
					margin: 0 0 5% 0;
				}
				h2 {
					margin: 0;
					color: $color-blue;
					font-family: "Unica One", cursive;
					text-transform: uppercase;
					font-size: 35px;
					font-weight: 500;
					@media screen and (min-width: $tabwidth){
						font-size: 45px;
					}
				}
			}
			>.team {
				>.member {
					margin: 20px 0 0 0;
					padding: 20px;
					background-color: white;
					border-bottom: 5px solid lightgrey;
					@media screen and (min-width: $tabwidth){
						width: 40%;
						margin: 0 5% 5% 5%;
						float: left;
						@include flexbox();
						@include flexbox-justify(center);
						@include flexbox-align-content(stretch);
						@include flexbox-align-items(stretch);
						@include flexbox-direction(column);
					}
					@media screen and (min-width: $midwidth){
						width: 30%;
						margin: 0 10% 10% 10%;
					}
					&:first-child {
						margin-top: 0;
					}
					img {
						width: 100%;
						display: block;
						margin: 0 0 30px 0;
					}
					header {
						margin: auto 0 0 0;
						h3 {
							margin: 0;
							color: $color-blue;
							font-family: "Unica One", cursive;
							text-transform: uppercase;
							font-size: 25px;
							font-weight: 500;
							@media screen and (min-width: $midwidth){
								font-size: 30px;
							}
						}
					}
					.spacer {
						border: 1px solid lightgrey;
						width: 50px;
						margin: 10px auto 15px auto;
					}
					.email {
						font-size: 14px;
						font-weight: 500;
						color: $color-blue;
						word-break: break-all;
						@media screen and (min-width: $deskwidth){
							font-size: 18px;
						}
					}
					a.button {
						margin: 60px 0 0 0;
						width: 100%;
					}
					.hidden {
						display: none;
					}
				}
			}
		}
	}
}
.template-process {
	>.row-1 {
		background-color: $color-light-grey;
		>.wrapper {
			padding: 30px 20px 20px 20px;
			@media screen and (min-width: $tabwidth){
				padding: 60px 20px 70px 20px;
			}
			header {
				margin: 0 0 30px 0;
				@media screen and (min-width: $tabwidth){
					margin: 0 0 40px 0;
				}
				h1 {
					margin: 0;
					color: $color-blue;
					font-family: "Unica One", cursive;
					text-transform: uppercase;
					font-size: 35px;
					font-weight: 500;
					@media screen and (min-width: $tabwidth){
						font-size: 45px;
					}
				}
			}
			.copy {
				text-align: left;

			}
		}
	}
	>.row-2 {
		position: relative;
		>.wrapper {
			padding: 0 20px;
			@media screen and (min-width: $tabwidth){
				padding: 0 20px 0 20px;
			}
			>.col-1 {
				text-align: left;
				@media screen and (min-width: $tabwidth){
					float: left;
					width: 30%;
					min-height: 1px;
				}
				>.inner-wrapper {
					padding: 20px 0 0 0;
					@media screen and (min-width: $tabwidth){
						padding: 100px 6% 100px 0;
					}
					ul {
						margin: 0;
						padding: 0;
						li {
							padding: 0;
							margin: 0 0 20px 0;
							list-style-type: none;
							a{
								font-family: "Unica One", cursive;
								text-transform: uppercase;
								font-size: 25px;
								text-decoration: none;
								color: $color-blue;
								vertical-align: middle;
								i {
									line-height: 1;
									vertical-align: middle;
									font-size: 40px;
								}
							}
						}
					}
				}
			}
			>.col-2 {
				padding: 20px 0;
				text-align: left;
				position: relative;
				@media screen and (min-width: $tabwidth){
					float: left;
					width: 70%;
					padding: 100px 0 0 0;
				}
				.row {
					margin: 0 0 40px 0;
					@media screen and (min-width: $tabwidth){
						margin: 0 0 100px 0;
					}
					header {
						margin: 0 0 20px 0;
						@media screen and (min-width: $tabwidth){
							margin: 0 0 60px 0;
						}
						h2 {
							margin: 0;
							color: $color-blue;
							font-family: "Unica One", cursive;
							text-transform: uppercase;
							font-size: 35px;
							font-weight: 500;
							line-height: 1.2;
							@media screen and (min-width: $tabwidth){
								font-size: 45px;
							}
						}
					}
					.copy {

					}
				}
			}
		}
	}
}

.template-associate {
	>.row-1 {
		position: relative;
		>.wrapper {
			padding: 30px 20px 20px 20px;
			@media screen and (min-width: $tabwidth){
				padding: 100px 20px 0 20px;
			}
			>header.row-1 {
				margin: 0 0 30px 0;
				@media screen and (min-width: $tabwidth){
					margin: 0 0 40px 0;
				}
				h1 {
					margin: 0;
					color: $color-blue;
					font-family: "Unica One", cursive;
					text-transform: uppercase;
					font-size: 35px;
					font-weight: 500;
					@media screen and (min-width: $tabwidth){
						font-size: 45px;
					}
				}
			}
			>.row-2 {
				>.col-1, >.col-2 {
					header{
						margin: 0 0 30px 0;
						@media screen and (min-width: $tabwidth){
							margin: 0 0 40px 0;
						}
						h2 {
							margin: 0;
							color: $color-blue;
							font-family: "Unica One", cursive;
							text-transform: uppercase;
							font-size: 35px;
							font-weight: 500;
							@media screen and (min-width: $tabwidth){
								font-size: 45px;
							}
						}
					}
					ul {
						margin: 0;
						padding: 0;
						li {
							padding: 0;
							margin: 0 0 20px 0;
							list-style-type: none;
							a{
								font-family: "Unica One", cursive;
								text-transform: uppercase;
								font-size: 25px;
								text-decoration: none;
								color: $color-blue;
								vertical-align: middle;
								i {
									line-height: 1;
									vertical-align: middle;
									font-size: 40px;
								}
							}
						}
					}
				}
				>.col-1 {
					padding: 20px 0 0 0;
					text-align: left;
					@media screen and (min-width: $tabwidth){
						float: left;
						width: 50%;
						padding: 0 3% 100px 0;
					}
				}
				>.col-2 {
					padding: 20px 0;
					text-align: left;
					position: relative;
					@media screen and (min-width: $tabwidth){
						float: left;
						width: 50%;
						padding: 0 0 0 3%;
					}
				
				}
			}
		}
	}
}
.template-single-artist {
	>.wrapper {
		padding: 30px 20px 20px 20px;
		@media screen and (min-width: $tabwidth){
			padding: 100px 20px 100px 20px;
		}
		>header {
			margin: 0 0 30px 0;
			@media screen and (min-width: $tabwidth){
				margin: 0 0 40px 0;
			}
			h1 {
				margin: 0;
				color: $color-blue;
				font-family: "Unica One", cursive;
				text-transform: uppercase;
				font-size: 35px;
				font-weight: 500;
				@media screen and (min-width: $tabwidth){
					font-size: 45px;
				}
			}
		}
		section {
			header {
				margin: 30px 0 30px 0;
				@media screen and (min-width: $tabwidth){
					margin: 40px 0 40px 0;
				}
				h2 {
					margin: 0;
					color: $color-blue;
					font-family: "Unica One", cursive;
					text-transform: uppercase;
					font-size: 35px;
					font-weight: 500;
					@media screen and (min-width: $tabwidth){
						font-size: 45px;
					}
				}
			}
			.pdfprnt-button {
				max-width: 50px;
			}
			.medium {
				margin: 20px 0;
				.row {
					border-bottom: 1px solid $color-blue;
					padding: 10px 0;
					.subject {
						float: left;
					}
					.price {
						float: right;
					}
				}
			}
			.copy, img {
				width: 100%;
				margin: 20px auto;
				font-size: 18px;
				&.artist {
					width: 50%;
				}
			}
		}
	}
}
.pdfprnt_print {
	header {
		margin: 30px 0 30px 0;
		@media screen and (min-width: $tabwidth){
			margin: 40px 0 40px 0;
		}
		h1 {
			margin: 0;
			color: $color-blue;
			font-family: "Unica One", cursive;
			text-transform: uppercase;
			font-size: 35px;
			font-weight: 500;
			@media screen and (min-width: $tabwidth){
				font-size: 45px;
			}
		}
		h2 {
			margin: 0;
			color: $color-blue;
			font-family: "Unica One", cursive;
			text-transform: uppercase;
			font-size: 35px;
			font-weight: 500;
			@media screen and (min-width: $tabwidth){
				font-size: 45px;
			}
		}
	}
	.pdfprnt-button {
		max-width: 50px;
	}
	.medium {
		margin: 20px 0;
		.row {
			border-bottom: 1px solid $color-blue;
			padding: 10px 0;
			.subject {
				float: left;
			}
			.price {
				float: right;
			}
		}
	}
	.copy, img {
		width: 100%;
		margin: 20px 0;
	}
}
.template-page, .error-404, .template-sitemap {
	>.wrapper {
		padding: 30px 20px 20px 20px;
		@media screen and (min-width: $tabwidth){
			padding: 60px 20px 70px 20px;
		}
		header {
			margin: 0 0 30px 0;
			@media screen and (min-width: $tabwidth){
				margin: 0 0 40px 0;
			}
			h1 {
				margin: 0;
				color: $color-blue;
				font-family: "Unica One", cursive;
				text-transform: uppercase;
				font-size: 35px;
				font-weight: 500;
				@media screen and (min-width: $tabwidth){
					font-size: 45px;
				}
			}
		}
		.copy {
			text-align: left;

		}
	}
}
.template-two-col {
	>.wrapper {
		padding: 30px 20px 20px 20px;
		@media screen and (min-width: $tabwidth){
			padding: 60px 20px 70px 20px;
		}
		header {
			margin: 0 0 30px 0;
			text-align: left;
			@media screen and (min-width: $tabwidth){
				margin: 0 0 40px 0;
			}
			h1 {
				margin: 0;
				color: $color-blue;
				font-family: "Unica One", cursive;
				text-transform: uppercase;
				font-size: 35px;
				font-weight: 500;
				@media screen and (min-width: $tabwidth){
					font-size: 45px;
				}
			}
		}
		>.inner-wrapper {
			h2 {
				margin: 0;
			}
			.copy.col-1 {
				text-align: left;
				@media screen and (min-width: $tabwidth){
					width: 50%;
					float: left;
					min-height: 1px;
					padding: 0 30px 0 0;
				}
			}
			.col-2 {
				margin: 40px 0 0 0;
				text-align: left;
				@media screen and (min-width: $tabwidth){
					margin: 0;
					width: 50%;
					float: left;
					min-height: 1px;
					padding: 0 0 0 30px;
				}
			}
		}
	}
}